<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	<script type="text/javascript" src="static/js/jquery-3.4.12.js"></script>
	<!-- <script type="text/javascript"> -->
    <meta charset="utf-8">
    <title>Flask App</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Arghoob Dashboard</h1>
    <p></p>
	    <div class="jumbotron">
        <h1></h1>
         
        <button id="btnGoodsSale" class="btn btn-lg btn-primary btn-block" type="button">Sale of each Good</button>
        <button id="btnMonthlySale" class="btn btn-lg btn-primary btn-block" type="button">Monthly Sale</button>
		<button id="btnFastMoving" class="btn btn-lg btn-primary btn-block" type="button">Fast Moving </button>
		<button id="btnNonMoving" class="btn btn-lg btn-primary btn-block" type="button">Non Moving</button>
     <!--   <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button> -->

      </div>
    
    {% endblock %}
  </body>
</html>